.top-trigger-filter__item._active  {
    position: relative;
    
    z-index: 301;
    .filter__content {
        display: block;
        z-index: 100;
        opacity: 1;
        scale: 1;
    }
    .filter__btn-popular {
        span {
            transform: rotateX(0deg);
        }
    }
    .filter__btn-filter {
        span {
            transform: rotate(90deg);
        }
    }
}

.top-trigger-filter__item  {
        position: relative;
}
