
.re-modal__body {
    padding: 40px ;
    display: flex;
    flex-direction: column;
    .button-add-body,
    .button-add-to-cart {
        width: 245px;
    }
    @media(max-width:487.98px){
        padding: 0px;
    }
}
.re-modal__title {
    text-align: center;
}
.re-modal__input {
    max-width: 245px;
}
.re-modal__sum {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}
.re__sum-block {
    display: flex; 
    gap: 20px;
}