.login-block__body {
  width: 600px;
}
@media (max-width: 767.98px) {
  .login-block__body {
    width: 100%;
  }
}

.login-block__tab-trigger {
  margin-bottom: 40px;
  display: flex;
  padding-bottom: 20px;
  border-bottom: #BF936B 1px solid;
  justify-content: center;
  gap: 40px;
}
@media (max-width: 767.98px) {
  .login-block__tab-trigger {
    gap: 30px;
  }
}
@media (max-width: 487.98px) {
  .login-block__tab-trigger {
    gap: 20px;
  }
}
@media (max-width: 487.98px) {
  .login-block__tab-trigger .button-add-to-cart {
    font-size: 14px;
    padding: 10px 15px;
  }
}
@media (max-width: 367.98px) {
  .login-block__tab-trigger {
    gap: 10px;
  }
}

.login-block {
  padding: 50px 0px;
}
.login-block__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.login-block__item {
  flex: 0 1 40%;
}
@media (max-width: 991.98px) {
  .login-block__item {
    flex: 0 1 100%;
  }
}
.login-block__title {
  text-align: left;
}
.login-block__form {
  width: 100%;
}
.login-block__label {
  display: block;
  width: 100%;
}
.login-block__label:not(:last-child) {
  margin-bottom: 20px;
}
.login-block__text {
  color: #BEAE97;
  font-variant-numeric: lining-nums proportional-nums;
  line-height: 1.3; /* 20.8px */
}
.login-block__text:not(:last-child) {
  margin-bottom: 20px;
}
.login-block__pol-list:not(:last-child) {
  margin-bottom: 30px;
}
.login-block__button {
  width: 245px;
}
.login-block__button:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 427.98px) {
  .login-block__button {
    width: 100%;
  }
}
.login-block__link {
  display: block;
  color: #BEAE97;
  font-variant-numeric: lining-nums proportional-nums;
  line-height: 1.3; /* 20.8px */
}
.login-block__check:not(:last-child) {
  margin-bottom: 20px;
}

.re-catcha {
  max-width: 60%;
  border-radius: 4px;
  background-color: #36332E;
  padding: 40px;
}
.re-catcha:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 991.98px) {
  .re-catcha {
    max-width: 70%;
  }
}
@media (max-width: 767.98px) {
  .re-catcha {
    max-width: 80%;
  }
}
@media (max-width: 487.98px) {
  .re-catcha {
    max-width: 100%;
  }
}

.check-button {
  display: flex;
  align-items: center;
  gap: 30px;
}
.check-button__label {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: all 0.3s ease 0s;
}
@media (hover: hover) {
  .check-button__label:hover {
    cursor: pointer;
  }
}
.check-button__input {
  top: -9999%;
  left: -9999%;
  position: absolute;
  clip: rect(0 0 0 0);
}
.check-button__span {
  width: 24px;
  height: 24px;
  display: block;
  border-radius: 50%;
  border: 1px solid #BEAE97;
  position: relative;
}
.check-button__span::after {
  position: absolute;
  left: 0;
  top: 0;
  scale: 1.01;
  width: 100%;
  content: "";
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(92deg, #C09E6C -1.94%, #FFEBCC 40.99%, #BF936B 98.79%);
  z-index: 1;
  transition: all 0.3s ease 0s;
  opacity: 0;
}
.check-button__span::before {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  content: "";
  z-index: 2;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease 0s;
  opacity: 0;
}
.check-button__p {
  color: #BEAE97;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Open Sans;
  line-height: 1.4; /* 22.4px */
}

.check-button__input:checked + .check-button__span::after {
  opacity: 1;
}
.check-button__input:checked + .check-button__span::before {
  opacity: 1;
}/*# sourceMappingURL=authorization.css.map */