.input-block  {
    position: relative;
}

.input-block {
    width: 100%;
    // .input-block__text

    &__text {
        color:  #BEAE97;
        span {
            color: red;
        }
        &:not(:last-child){
        margin-bottom:4px;
        }
    }

    // .input-block__input

    &__input {
        background:transparent;
        width: 100%;
        border-radius: 4px;
        border: 1px solid  #565147;
        height: 54px;
        padding: 14px;
        letter-spacing: normal;
        color: #BEAE97 !important;
        font-size: 14px;
        //box-shadow: 60px 60px  inset $_bg-main;
        &:focus {
            border-radius: 4px;
            outline: 1px solid #C09E6C;
            color: #BEAE97 !important;
        }
        &::placeholder {
            color: #BEAE97 !important;
            font-size: 18px;
            @media(max-width:767.98px){
                font-size: 16px;
            }
            @media(max-width:487.98px){
                font-size: 14px;
            }
        }
        &:disabled {
            opacity: 0.3;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    box-shadow: 60px 60px  #211E1C inset !important;
}
